<html>

<head>
  <title> ToDo App </title>
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/74a2fd6b7e.js" crossorigin="anonymous"></script>
</head>

<body>
  <main>
    <div class="app-container">
      <h1> My To-Do List </h1>

      <div class="todo-container">
        <div class="input-box">
          <form action="/addtask" method="POST">
            <input class="todo-input" id="prompt" type="text" name="newtask" label="Enter a new todo item"
              placeholder="E.g. Build a web app">
            <button class="todo-button" name="button">+</button>
        </div>
        <ul class="todo-list">
          <% for( var i=0; i < task.length; i++){ %>
            <li class="todo todo-item"><input type="checkbox" name="check" value="<%= task[i] %>" />
              <%= task[i] %>
                <button class="del-btn" formaction="/removetask" type="submit" id="top"><i
                    class="fa-solid fa-trash-can"></i></button>
            </li>
            <% } %>
              </form>

              <h2> Completed tasks </h2>

              <button class="del-btn2" formaction="/removeall" type="submit" id="top" data-delete-list-button>Remove all
                completed</button>

              <% for(var i=0; i < complete.length; i++){ %>
                <li class="todo todo-item2"><input type="checkbox" checked>
                  <%= complete[i] %>

                </li>

                <% } %>
        </ul>
      </div>
    </div>
    </div>

  </main>
</body>